.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section {
  width: 100%;
  min-width: 600px;
  margin: 40px 0;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

h1, h2 {
  text-align: center;
  font-size: 40px !important;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: bold;
}

h2 {
  margin: 40px 0 20px 0;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-col{
  width: 42%;
  max-width: 42%;
  min-width: 600px;
  margin: 4%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.general-expanded{
  padding-bottom: 62px;
  margin-top: -30px;
}

.general-expanded > * {
  flex: 1 0 calc(42% - 28px - 40px + 8px);
  height: 1.4em;
  border-radius: 1em;
  width: calc(42% - 28px - 40px + 8px);
  margin: 14px;
  padding: 14px;
}

.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8em;
  min-width: 1em;
  aspect-ratio: 1;
  border-radius: 100%;
  text-decoration: none;
  color: black;
  margin: 10px;
}

.icon {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5em;
}

.icon img {
  width: 70%;
}

.link-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.4em;
  border-radius: 1em;
  text-decoration: none;
  color: black;
  margin: 14px;
  padding: 14px;
  font-size: 1.6em;
}

.general-expanded > .neo-container > .link-row{
  min-width: 230px;
}

.label {
  width: 100%;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
}

.link-row .icon {
  width: 4em;
  margin-left: 10px;
  margin-right: 10px;
}
/* 
.neo {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}
.neo:hover {
  transform: scale(0.995, 0.995);
  border-radius: 50px;
}
.neo:after {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
} */
    /* span {
      line-height: 100px;
      font-family: "Montserrat", sans-serif;
      font-size: 32px;
      font-weight: semibold;
    } */
    .neo-container{
      color: #6f6cde;
    }
    .neo-container:hover {
      color: #79e3b6;
      }
    .neo-container:after{
      color: #79e3b6;
    }
    .neo-bottom{
      position: absolute;
      color: #6f6cde;
      transition: all 0.4s ease-in-out;
      border-radius: 100%;
    }

    .neo-bottom.circle-button{
      width: calc(8em + 20px);
      aspect-ratio: 1;
    }

    .neo-bottom.rectangle-button{
      height: 1.4em;
      border-radius: 1em;
      min-width: 540px;
      width: calc(42% - 28px - 40px + 8px);
      margin: 14px;
      padding: 14px;
    }

    .general-expanded > .neo-container > a > .neo-bottom.rectangle-button{
      min-width: 230px;
    }
    
    .neo-bottom.start {
      box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.4s ease-in-out;
      opacity: 1;
    }
    .neo-bottom.start:hover{
      opacity: 0;
    }
    .neo-bottom.later{
      box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease-in-out;
      opacity: 0.3;
    }
    /* active {
        opacity: 1;
        box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
          inset 8px 8px 16px rgba(0, 0, 0, 0.1);
        color: #79e3b6;
      } */
    
  
